<div class="text-center">
  <h2 class="jumbotron">FHIR Service Test</h2>
</div>
<div class="input-group in">
  <input type="text" class="form-control" placeholder="Patient Identifier" #pid name="search">
  <div class="input-group-btn">
    <button class="btn btn-default" type="submit" (click)="find(pid.value)" ><i class="glyphicon glyphicon-search"></i></button>
  </div>
</div>
<div>
  <div class="col-md-5">
    <app-patient></app-patient>
  </div>
  <div class="col-md-7">
    <app-procedures></app-procedures>
  </div>
</div>

