

<h2>Patient Demographics</h2>
<table class="table verticle" *ngIf="show">
  <tbody>
    <tr>
        <th>ID</th>
        <td>{{demographics.identifier}}</td>
    </tr>
    <tr>
        <th>Family Name</th>
        <td>{{demographics.lastName}}</td>
    </tr>
    <tr>
        <th>Give Names</th>
        <td>{{demographics.firstName}}</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <td>{{demographics.dob}}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{demographics.gender}}</td>
    </tr>
  </tbody>
</table>

